@import url('https://fonts.googleapis.com/css2?family=Trykker&display=swap');
* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	text-decoration: none;
	font-family: "Trykker", serif;
	transition:0.4s ease;
}
html {
	overflow-x: hidden;
	font-size: 62.5%;
	height: 100%;
	margin:0;
}
section{
	padding:3rem 5%;
}
body{
	background-color:#DFDEDC;
	height:100%;
	margin:0;
	background-image: url(images/background.jpg);
	background-size: auto;
	background-repeat: repeat;
	background-position: 50px 60px;
}

.footer{
    width:100vw;
    background-color:#556677;
	bottom: 0px;
	position: fixed;
}
.footer div{
    background-color:#556677;
    color:#DFDEDC;
    height:10px;
    padding-left:30px;
    float:left;
    margin:auto;    
}
.footer a{
    background-color:#556677;
    margin:auto;
}
/*--------------------------------------------------------------*/
.intro {
	align-items:center;
	padding:50px;
}
.intro .content{
	background-color:#EEEEEE;
	opacity: 0.97;
	border-radius: 23px;
}
.intro .content:hover{
	opacity: 1;
}
.intro .content h1{
	font-size:7rem;
	color:#333333;
}
#giris{
	font-size: 3rem;
}
.intro .content p{
	font-size:1.3rem;
	color:#333333;
	padding: 1rem 0;
}
.intro .image{
	display:flex;
	justify-content: center;
	align-items: center;
}
.intro .image img{
	border-radius: 25px;
	max-width: 100%;
	height: auto;
}

.city .content h1 {
	font-size: 6rem;
	color: #333333;
}
.city .content h3 {
	font-size: 4rem;
	color: #333333;
}
.city .content p {
	font-size: 2.4rem;
	color: #333333;
}
.city .content .sliderframe{
	width:90rem;
	height:60.8rem;
	border:0.5rem solid;
	margin:5rem auto;
	position:relative;
	overflow:hidden;
	border-radius:2.5rem;
	box-shadow:0.5rem 0.4rem 0 0 #444;
}
.city .content .sliderframe .slider ul{
	list-style:none;
	padding:0;
	margin:0;
}
.city .content .sliderframe .slider ul li{
	position:absolute;
}
.city .content .sliderframe .slider ul li:nth-of-type(1) {
	left:0;
}
.city .content .sliderframe .slider ul li:nth-of-type(2) {
	left:90rem;
}
.city .content .sliderframe .slider ul li:nth-of-type(3) {
	left:180rem;
}
.city .content .sliderframe .slider ul li:nth-of-type(4) {
	left:270rem;
}

.city .content .sliderframe .slider img{
	width:90rem;
	height:60.8rem;
}
.city .content .sliderframe .slider {
	position:absolute;
	left:0;
	animation: sslide;
	animation-duration:15s;
	animation-delay:1s;
	animation-direction:alternate;
	animation-iteration-count:infinite;
}
.city .content .sliderframe .slider:hover{
	animation-play-state:paused;
}
@keyframes sslide {
	0%{left:0;}
	14%{left:0;}
	28%{left:-90rem;}
	42%{left:-90rem;}
	56%{left:-180rem;}
	70%{left:-180rem;}
	84%{left:-270rem;}
	100%{left:-270rem;}
}

.heritage {
	margin-top: 10px;
	display: flex;
	align-items: center;
}
.heritage .content h1 {
	font-size: 6rem;
	color: #333333;
}
.heritage .content h3 {
	font-size: 3.6rem;
	color: #333333;
}
.heritage .content p {
	font-size: 2rem;
	color: #333333;
	padding: 1rem 0;
	max-width: 70vw;
}


.navi{
	background-color: #556677;
	display: flex;
	align-items:center;
	justify-content: space-around;
	line-height: 50px;
}
.navi ul{
	display: flex;
	list-style: none;
	margin:5px;
}
.navi ul li a{
	color:#DFDEDC;
	padding:10px;
	font-size:18px;
	cursor:pointer;
	text-decoration: none;
}
.navi ul li a:hover {
	background-color:#DFDEDC;
	color:#556677;
	border-radius: 10px;
}
.navi ul li .active {
	text-decoration: underline;
	color: red;
}
#check{
	display:none;
}
.check-button{
	color:#DFDEDC;
	cursor:pointer;
	font-size: 20px;
	float:right;
}
@media screen and(max-width:800px){
	.liste{
		width:100%;
		height:100vh;
		background-color: #556677;
		display: flex;
		text-align: center;
		position: fixed;
		top: 4rem;
		left:-100%;
	}
	#chack{
		display: none;
	}
	.check-button{
		display:block;
	}
	#check:checked~ul{
		left:0%;
	}
}
#city-bg{
	background-image: none;
}
#heritage-bg{
	background-image: none;
}
.login{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80%;
	text-align: center;
	font-size: 15px;
}
.login .giris table{
 margin: 0 auto;
}
.login form{
	margin-top: 20px;;
}