@import url('https://fonts.googleapis.com/css2?family=Trykker&display=swap');
* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	text-decoration: none;
	font-family: "Trykker", serif;
	transition:0.4s ease;

}
html {
	overflow-x: hidden;
	font-size: 62.5%;
}
section{
	padding:3rem 5%;
}
body{
	background-color:#DFDEDC;	
}
.header .navbar{
	background-color: #f1e7ed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
	margin: 2rem 5%;
	border-radius: 2rem;
	height: 70px;
	width: 80%;
	position: relative;
}
.header .navbar a{
	margin: 0 2rem;
	font-size: 2rem;
}
.header .navbar a:hover {
	text-decoration: underline;
	color: red;
}
.header .navbar .active {
	text-decoration: underline;
	color: red;
}

.header .navigation{
    width:100vw;
    display:flex;
    height:50px;
}
.header .navigation div{
    float:left;
    justify-content:space-between;
    margin:20px 10px;
    padding:20px 0;
    padding-bottom:20px;
    text-align:center;
    background-color:#556677;
    width:50px;
    border-radius:40px;
    color:#DFDEDC;
}
.fa-file-signature{
    margin-left:7px;
}
.fa-graduation-cap{
    margin-left:2px;
}
.header .navigation a {
    text-align: center;
    margin: auto;
    background-color: transparent;
}
.header .navigation #symbol{
    background-color:#556677;
}
.header .navigation .a{
    margin-top:-160px;
}
.header .navigation .a:hover{
    transform:translateY(115px);
}
.header .navigation .b{
    margin-top:-124px;
}
.header .navigation .b:hover{
    transform:translateY(79px);
}
.header .navigation .c{
    margin-top:-220px;
}
.header .navigation .c:hover{
    transform:translateY(175px);
}
.header .navigation .d{
    margin-top:-134px;
}
.header .navigation .d:hover{
    transform:translateY(89px);
}
.header .navigation .e{
    margin-top:-146px;
}
.header .navigation .e:hover{
    transform:translateY(101px);
}

.footer{
    width:100vw;
    background-color:#556677;
}
.footer div{
    background-color:#556677;
    color:#DFDEDC;
    height:10px;
    padding-left:30px;
    float:left;
    margin:auto;    
}
.footer a{
    background-color:#556677;
    margin:auto;
}
/*--------------------------------------------------------------*/
.intro {
	min-height: 100vh;
	margin-top:-11rem;
	display:flex;
	align-items:center;
}
.intro .content h1{
	font-size:7.2rem;
	color:#333333;
	margin-top: -13%;
}
.intro .content p{
	font-size:2.4rem;
	color:#333333;
	padding: 1rem 0;
	max-width:60vw;
}

.cv {
	min-height: 100vh;
	margin-top: -11rem;
	display: flex;
	align-items: center;
}
.cv .content h1 {
	font-size: 6rem;
	color: #333333;
	margin-top: -13%;
}
.cv .content p {
	font-size: 2.4rem;
	color: #333333;
	padding: 1rem 0;
	max-width: 50vw;
}

.city .content h1 {
	font-size: 6rem;
	color: #333333;
}
.city .content .tablo table{
	font-size:3rem;
	border:dotted;
}
.city .content h3 {
	font-size: 4rem;
	color: #333333;
}
.city .content p {
	font-size: 2.4rem;
	color: #333333;
}
.city .content .sliderframe{
	width:90rem;
	height:60.8rem;
	border:0.5rem solid;
	margin:5rem auto;
	position:relative;
	overflow:hidden;
	border-radius:2.5rem;
	box-shadow:0.5rem 0.4rem 0 0 #444;
}
.city .content .sliderframe .slider ul{
	list-style:none;
	padding:0;
	margin:0;
}
.city .content .sliderframe .slider ul li{
	position:absolute;
}
.city .content .sliderframe .slider ul li:nth-of-type(1) {
	left:0;
}
.city .content .sliderframe .slider ul li:nth-of-type(2) {
	left:90rem;
}
.city .content .sliderframe .slider ul li:nth-of-type(3) {
	left:180rem;
}
.city .content .sliderframe .slider ul li:nth-of-type(4) {
	left:270rem;
}

.city .content .sliderframe .slider img{
	width:90rem;
	height:60.8rem;
}
.city .content .sliderframe .slider {
	position:absolute;
	left:0;
	animation: sslide;
	animation-duration:15s;
	animation-delay:1s;
	animation-direction:alternate;
	animation-iteration-count:infinite;
}
.city .content .sliderframe .slider:hover{
	animation-play-state:paused;
}
@keyframes sslide {
	0%{left:0;}
	14%{left:0;}
	28%{left:-90rem;}
	42%{left:-90rem;}
	56%{left:-180rem;}
	70%{left:-180rem;}
	84%{left:-270rem;}
	100%{left:-270rem;}
}

.heritage {
	min-height: 100vh;
	margin-top: -11rem;
	display: flex;
	align-items: center;
}
.heritage .content h1 {
	font-size: 6rem;
	color: #333333;
}
.heritage .content h3 {
	font-size: 3.6rem;
	color: #333333;
}
.heritage .content p {
	font-size: 2rem;
	color: #333333;
	padding: 1rem 0;
	max-width: 70vw;
}
